body{
    margin: 0%;
    padding: 0%;
}
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#head{
    margin-top: 100px;
    width: 100%;
    padding: 0% 10%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
#head>h1{
    color: #434D5D;
    font-weight: 500;
}
#head>button{
    width: 17%;
    height: 45px;
    background-color: #80BB35;
    color: white;
    font-size: 18px;
    border: none;
}
#main{
    width: 100%;
    padding: 0% 10%;
    display: flex;
}
#sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
#sidebar>p:hover{
    color: #00A8E1;
    cursor: pointer;
}
#box{
    width: 90%;
}
#searchbar-div{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    margin-bottom: 30px;
}
#search{
    height: 40px;
    width: 25%;
}
select{
    width: 15%;
    height: 40px;
}
#tag{
    display: flex;
    width: 10%;
    gap: 10px;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid #434D5D;
}
#tag>img{
    width: 20px;
    height: 20px;
}
#container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#container>h4{
    margin-bottom: 10px;
}