#banner{
    height: 700px;
   display:grid;
   grid-template-columns: repeat(2,1fr);
   /* margin-top: 20px; */
   /* padding:70px ; */
}
.hero-right{
    width: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 60px;
}
.hero-right>img{
    width: 100%;
    height: 90%;
}
.hero-left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 60%; */

}
.comm-logo-head{
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 00px 0px 110px;
}
.comm-logo-head+p{
    padding-left: 110px;
    font-size: 18px;
    width:90%;
    margin-top: 20px;
}
/* .hero-right{
 pading-left: 110px;
} */
.btn-container{
    margin-left: 110px;
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.btn-container>a:first-child{
    text-decoration: none;
    color: white;
    background-color:rgb(138, 96, 236) ;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.btn-container>a:last-child{
    text-decoration: none;
        color:black;
        border: 1px solid rgb(138, 96, 236);
        /* background-color: rgb(138, 96, 236); */
        width: 300px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: rgb(147, 123, 255);
}
.btn-container>a:first-child:hover{
background-color: rgb(173, 138, 255)
}
.btn-container>a:last-child:hover{
    background-color: rgb(136, 89, 247)
}
.b2{
    height: 300px;
    /* width: 1500px; */
    margin: auto;
    background-color: whitesmoke;
    padding: 100px;
    margin: 20px 0px;
}
.b2>p{
    display: flex;
    text-align: center;
    /* margin-top: 40px; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.b2>.logos{
    width:80%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.b2>.logos>l>img{
    width: 90px;
    height: 90px;
}
#beautiful{
    padding: 100px;
    height: 900px;
}
#evan{
text-align: center;
font-size: 20px;
margin-bottom: 30px;
}
#beautiful-browser{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
/* .sidebar>img{
    width: 100px;
    height: 100px;
} */
.screen{
    /* width: 600px; */

    display: flex;
    /* grid-template-columns: repeat(2); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* padding-left: 250; */
    /* margin-left: 250px; */
    /* border: 1px solid red; */
}
.si>img{
    width: 100%;
    /* height: 100px; */
}
.desktop>img{
    width:150%;
    /* height: 100px; */
}
.callout{
    display: grid;
    justify-content: center;
    margin: 40px;
}
.callout>p{
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 1px solid; */
    /* width: 300px; */
    /* margin-right: -60px; */
}
#cccc{
    color: white;
    margin: 30px;
    margin-left: -90px;
   
}
#cccc:hover{
    background-color: rgb(173, 138, 255)
}
.copy>ul{
    display: grid;
    gap: 10px;
}
#timerReveal{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    /* margin-top: 30px; */
    background-color:whitesmoke;
    height: 700px;
}
#tim{
    display: flex;
    /* background-image: url("https: //www.campaignmonitor.com/wp-content/themes/cm-theme/assets/images/home/sms-vector-bg-no-dots.svg?ver=298"); */
    /* background-image: url(); */
    width: 50%;
    /* height: 100%; */
}
#tim>img{
    width: 100%;
    height: 100%;
    
}
#tim>img:last-child{
  
}
.smsRev{
/* width:50%;
height: 60%;
margin-left: -120px;
margin-top:40px; */
width: 70%;
height: 90%;
margin-left: -650px;
margin-top: 0px;

}
.smsReveal_content{
    width: 50%;
    /* height: 150%; */
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* border:  solid red; */
   
}
.smsReveal_content>div>h3{
    font-size: 30px;
    /* line-height: 60px; */
}
.smsReveal_content>div{
    display: grid;
width: 50%;
justify-content: center;
align-items: center;
margin-left: 100px;
margin-top: 100px;
gap: 30px;
}
.smsReveal_content>div>p{
margin-bottom: 100px;
}
#cccc1{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(134, 85, 247);
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    /* padding: 30px; */
    /* margin-top: 1000px; */
    margin-top: -100px;
}
#cccc1:hover{
    background-color: rgb(147, 123, 255);
}
#b3{
    height: 500px;
    display: grid;
    grid-template-columns: 50% 30%;
    gap:10%;
    /* background-color: whitesmoke; */
    margin: 20px 0px;
}
#b3img{
    display: grid;
    height: 90%;
    grid-template-columns: repeat(3,1fr);
    padding:0px 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: -100px;
    margin-top: 10px;
    gap: 20px;
    background-color: bisque;
}
#b3img>img{
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 50%; */
}
/* #b3img>div{
    display: flex;
}
#b3img>div>img{
    width: 50%;
} */
.copy1{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap:15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
height: 80%;
margin-top: 25px;
background-color: rgb(222, 245, 255);
}
.copy>h3{
    font-size: 30px;
   
}
.copy1>a{
    text-decoration: none;
        color: black;
        border: 1px solid rgb(138, 96, 236);
        /* background-color: rgb(138, 96, 236); */
        width: 250px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: rgb(147, 123, 255);
        font-weight: bold;
}
.copy1>a:hover {
    background-color: rgb(147, 123, 255);
    color: white;
    
}
/* #b456{
    width: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-clip: border-box;
    /* background-image: url("https: //campaignmonitor.com//wp-content/themes/cm-theme/assets/images/heroes/banner-ripcurl.jpg"); */

/* background-color: yellowgreen; */
 /* border: solid red;
}*/
#b456>div{
    width: 70%;
    height: 400px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    color: white;
    padding: 110px;
    font-size: 25px;
    line-height: 45px;
} 
#b456{
    /* width: 1440px; */
        margin: auto;
        background-image: url(https://campaignmonitor.com//wp-content/themes/cm-theme/assets/images/heroes/banner-ripcurl.jpg);
        background-color: #af0000;
        background-position: center;
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        background-color: black;
        /* opacity: 1.5; */
}
#b456>div>p:first-child{
    margin-top: -30px;
}
#b456>div>p:nth-child(2){
    font-size: 20px;
}
#white{
background-color: white;
margin-left: -110px;
font-size: 15px;
}
#white:hover{
    background-color: transparent;
    border:.5px white solid;
    color: white;
}

#mobile{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 550px;
    padding: 110px;
 
}
.overflow>img{
width: 80%;
}
.copy3{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    line-height: 45px;
}
.copy3>h3{
    font-size: 40px;
}
.copy3>p>{
    font-size: 20px;
}
#cc{
    display: flex;
        text-decoration: none;
        color: white;
        background-color: rgb(134, 85, 247);
        width: 200px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        
}
#cc:hover{
    background-color: rgb(128, 139, 225);
}
#b98{
    background-image: url(https://campaignmonitor.com//wp-content/themes/cm-theme/assets/images/home/thegist-bg.jpg);
    background-position: center;
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
    
}
#b98>div{
    width: 100%;
    height: 400px;
    padding: 90px 110px;
    margin-top:30px ;
}
#lid{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-align: center;
    padding: 200px;
    gap: 30px;
    color: white;
    background: rgb(58, 132, 180);
        background: linear-gradient(90deg, rgba(58, 132, 180, 1) 0%, rgba(83, 201, 210, 1) 49%, rgba(69, 202, 252, 1) 100%);
}
/* #lid>:nth-child(all){
    color: #af0000;
} */